@use '../helpers/index' as *;

.banner {
  position: relative;
  height: rem(300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: rem(20);

  &__title {
    font-weight: 600;
    font-size: rem(50);
  }

  &__subtitle {
    margin-top: rem(2);
    font-weight: 500;
    font-size: rem(20);
    letter-spacing: 0.5px;
  }

  &__play {
    font-weight: 500;
    font-size: rem(20);
    margin-top: rem(20);
    padding: rem(10) rem(20);
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
    border: 1px solid var(--color-dark-40);
    border-radius: rem(20);

    &:hover {
      transform: scale(1.3) translateY(1px);
    }
  }
}
