@use '../helpers/functions' as *;

.like-buttons {
  display: flex;
  opacity: 0;
  margin-left: rem(20);

  button {
    background: none;
    border: none;
    z-index: 10;
    color: var(--color-dark-40);

    &:hover {
      color: var(--color-white);
    }

    svg {
      fill: none;
      width: rem(30);
    }
  }

  .like-buttons__like:active svg{
    color: var(--color-active);
    fill: var(--color-active);
  }

}
