@use '../helpers/index' as *;

.music-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--text-color);

  .playlists__title {
    font-size: rem(50);
    font-weight: 800;
    text-align: center;
    margin: rem(20) 0;
  }

  .playlists__columns {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    max-width: rem(1200);
    height: rem(900);
    flex-wrap: wrap;
  }

  .playlists__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: rem(16);
    border: rem(1) solid transparent;
    border-radius: rem(21);
    gap: rem(16);
    width: rem(566);
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 rem(20) var(--color-second-active);
      cursor: pointer;
      border-color: var(--color-second-active);
    }

    &:hover .like-buttons {
      opacity: 1 !important;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: rem(200);

      &__title,
      &__subtitle {
        font-size: rem(16);
        margin: 0;
      }

      &__title {
        font-weight: 700;
      }

      &__subtitle {
        font-weight: 500;
        color: var(--color-dark-40);
      }
    }

    &__controls {
      position: relative;
      margin-left: auto;
      min-width: rem(80);
      text-align: right;
    }

    &__length {
      font-size: rem(16);
      font-weight: 500;
      color: var(--color-dark-40);
      transition: opacity 0.3s ease;
    }

    .like-buttons {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-43%);
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      gap: rem(8);
    }
    &:hover {
      .playlists__item__length {
        opacity: 0;
      }

      .like-buttons {
        opacity: 1;
      }
    }


    &__cover-container {
      position: relative;
      display: inline-block;
    }

    &__cover {
      width: rem(90);
      height: rem(90);
      object-fit: cover;
      border-radius: rem(20);
      flex-shrink: 0;
      transition: filter 0.3s ease;
    }

    &__play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: rem(30);
      color: var(--color-gray);
      background: var(--color-active);
      border: none;
      border-radius: 50%;
      width: rem(40);
      height: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease, color 0.3s ease; /* Добавьте transition для плавного изменения цвета */
    }

    .playlists__item__play-btn:hover {
      color: #FFFFFF;
    }

    &:hover {
      .playlists__item__cover {
        filter: brightness(0.5);
      }

      .playlists__item__play-btn {
        opacity: 1;
      }
    }
  }
}
