@use '../helpers/index' as *;

.music-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  margin-bottom: rem(10);

  .playlists__title {
    font-size: rem(50);
    font-weight: 800;
    text-align: center;
    margin-top: rem(20);
    margin-bottom: rem(20);
  }

  .playlists__columns {
    display: flex;
    gap: rem(32);
    justify-content: center;
    max-width: rem(1200);
    padding: 0 rem(16);
  }

  .playlists__columns {
    max-width: rem(1200);
    padding: 0 rem(16);
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .playlists__item {
    display: flex;
    align-items: center;
    padding: rem(16);
    border: 1px solid transparent;
    border-radius: rem(21);
    gap: rem(16);
    transition: all 0.3s ease;
    width: rem(566);

    &:hover {
      box-shadow: 0 0 rem(20) var(--color-active);
      cursor: pointer;
      border-color: var(--color-active);
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: rem(200);

      &__title {
        font-size: rem(16);
        font-weight: 700;
        margin: 0;
      }

      &__subtitle {
        font-size: rem(16);
        font-weight: 500;
        color: var(--color-dark-40);
        margin: 0;
      }
    }

    &__cover {
      width: rem(90);
      height: rem(90);
      object-fit: cover;
      border-radius: rem(20);
      flex-shrink: 0;
    }
  }
}