@use '../helpers/index' as *;

.playlists {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  gap: rem(20);
  justify-content: space-around;
  flex-direction: column;

  &__title{
    font-size: rem(50);
    font-weight: 800;
    text-align: center;
    margin-top: rem(20);
  }


  &__item{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    padding: rem(1);
    gap: rem(1);

    &:hover{
      box-shadow: 0 0 rem(20) var(--color-active);
      cursor: pointer;
      border-radius: rem(21);
    }

    &__description{
      width: rem(200);

      &__title{
        font-size: rem(16);
        font-weight: 700;
      }
      &__subtitle{
        font-size: rem(16);
        font-weight: 500;
        color: var(--color-dark-40);
      }
    }

    &__cover{
      width: rem(100);
      height: rem(100);
      object-fit: cover;
      border-radius: rem(20);

    }
  }
}