@use 'helpers/index' as *;

:root {
  --color-background: #121212;
  --second-background: #121212;

  --color-input-background: #F1F1F1;
  --color-hr-gray: lightgray;

  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-logo: #ffff;

  --color-placeholder: #9ca3af;

  --color-accent: #027bff;
  --transition-duration: 0.2s;

  --color-white: #ffffff;

  --text-color: #E0E0E0;
  --text-color-dark: #ff0000;

  --accent-object: #1DB954;

  --color-active: #6A5ACD;

  --container-width: #{rem(1250)};
  @include laptop {
    --container-width: #{rem(1000)};
  }
}