.like-buttons {
  display: flex;

  button {
    background: none;
    border: none;
    z-index: 10;
    color: var(--color-dark-40);
    height: 24px;
    width: fit-content;

    &:hover {
      color: var(--color-white);
    }

    svg {
      width: fit-content;
      height: fit-content;
      fill: none;
    }
  }

  .like-buttons__like:active svg{
    color: var(--color-active);
    fill: var(--color-active);
  }

}
